{% extends 'base.html' %}

{% block title %}About me - gsheir.com{% endblock %}

{% block content %}

{% load static %}

<div class="grid grid-2">
    <div class="body">
        <h1>About me</h1>
        <p class="mb-3">I’m a versatile software and AI consultant, who delivers tangible results in high pressure environments across elite sport, healthcare and the wider consulting industry.</p>
        <p class="mb-3">Alongside my day job, I am the Men's 1st Team Performance Analyst at Richmond Hockey Club, performing both live and post-match analysis in the 2nd tier of England Hockey League.</p>
        <p class="mb-3">I hold a 1st Class Engineering degree from Imperial College London, where for my masters thesis in cardiac research, I developed deep learning models to classify for arrhythmia-inducing drugs in pig and human hearts.</p>
    </div>

    <div class="img">
        <img src="https://images.gsheir.com/about_me/geoff.jpg" alt="Profile Image" class="img">
    </div>
</div>

{% endblock %}