{% extends 'base.html' %} 
{% block title %}Part 1: Breaking down Arsenal’s high press in the Champions League final - gsheir.com{% endblock %} 
{% block content %}

{% load static %}

<article>
    <div>
        <h1>
            Part 1: Breaking down Arsenal’s high press in the Champions League final
        </h1>

        <p class="text-muted">Posted on 7th August 2025</p>
        <p></p>
        <p>
            Arsenal Women came into their Champions League final with the knowledge that they needed to be on top form to beat Barcelona’s pass-heavy style. The good thing is, Arsenal aren’t half bad at pressing high to disrupt the buildup, coming joint 3rd in the WSL for <a href="https://fbref.com/en/comps/189/defense/Womens-Super-League-Stats" target="_blank">tackles in the final third</a>. In the 2nd leg of the semi final against Lyon, 3 out of 4 goals were turnovers coming from a high press (see for yourself <a href="https://www.youtube.com/watch?v=V2_GU-0jNfw" target="_blank">here</a>).
        </p>
        <p>
            In this piece, we focus on Arsenal’s high press in the first half of the final, where both teams executed their “plan A”. Even though it ended 0-0, it was an intriguing tactical battle where both teams managed to find chinks in each other’s armour, and it set up a pulsating second half (of which the outcome is well known).
        </p>

        <h2>
            Small wins: Controlling and collapsing on the pivot
        </h2>
        <p>
            Arsenal’s 4-4-2 defensive shape gets cited a lot, but their shape actually adapts to how many Barcelona players are involved in the buildup. In particular, Arsenal sought to always dominate the central midfield space, where the pivots operate. 
        </p>
        <p>
            In the first minute, the 3-1 shape in the first two lines (almost like a diamond) sandwiches Barcelona’s pivot, marking her out of the game. The ball goes to Barcelona’s right back and Arsenal win it back against the touchline.
        </p>
        <img src="https://images.gsheir.com/gifs/barcelona_1.gif" alt="Arsenal's high press, example 1" class="img">
        <p class="caption">View this clip on <a href="https://www.youtube.com/watch?v=-iz4heeXcw0&t=3928s" target="_blank">YouTube</a></p>
        <p>
            In a similar example, the 3-1 appears again to control the midfield space, even though the pivot isn’t there. Barcelona are forced to go for a lofted ball forwards and Arsenal win the ball back:
        </p>
        <img src="https://images.gsheir.com/gifs/barcelona_2.gif" alt="Arsenal's high press, example 2" class="img">
        <p class="caption">View this clip on <a href="https://www.youtube.com/watch?v=-iz4heeXcw0&t=5638s" target="_blank">YouTube</a></p>
        <p>
            When Barcelona did try and pass to the pivot, the team collapsed on her to get the ball back:
        </p>
        <img src="https://images.gsheir.com/gifs/barcelona_3.gif" alt="Arsenal's high press, example 3" class="img">
        <p class="caption">View this clip on <a href="https://www.youtube.com/live/-iz4heeXcw0?si=b6br2Qg0KcloPDT-&t=6500" target="_blank">YouTube</a></p>
        <p>
            This one is a more conventional 4-2 shape, and the pivot got collapsed on too:
        </p>
        <img src="https://images.gsheir.com/gifs/barcelona_4.gif" alt="Arsenal's high press, example 4" class="img">
        <p class="caption">View this clip on <a href="https://www.youtube.com/live/-iz4heeXcw0?si=0AbPOEk-36kkLU1A&t=4506" target="_blank">YouTube</a></p>
        <p>
            Arsenal were perhaps unfortunate to not make the most out of these high regains, but it was an effective way of breaking up Barcelona’s ability to build through the lines.
        </p>

        <h2>
            Small losses: Baited into jumping the press
        </h2>
        <p>
            The high press isn’t without its drawbacks. Barcelona were able to draw Arsenal’s press out and play into the space, particularly down Arsenal’s right.
        </p>
        <p>
            In this example, while Arsenal were set up with 6v7 in the first two lines, Maanum was drawn into the first line, leaving a 2v1 on Kelly:
        </p>
        <img src="https://images.gsheir.com/gifs/barcelona_5.gif" alt="Arsenal's high press, example 5" class="img">
        <p class="caption">View this clip on <a href="https://www.youtube.com/watch?v=-iz4heeXcw0&t=4119s" target="_blank">YouTube</a></p>
        <p>
            In this example, watch Barcelona’s goalkeeper Cata-Coll draw Russo in by rolling the ball with her sole, who leaves effectively a 5v5 behind her with not enough cover on the right flank. Barcelona end up playing around the press down that channel.
        </p>
        <img src="https://images.gsheir.com/gifs/barcelona_6.gif" alt="Arsenal's high press, example 6" class="img">
        <p class="caption">View this clip on <a href="https://www.youtube.com/watch?v=-iz4heeXcw0&t=4147s" target="_blank">YouTube</a></p>
        <p>
            Here, Pina (nominally Barcelona’s left winger) drifts into midfield, attracting Emily Fox, and when Fox then gets preoccupied with Barcelona’s left back, Pina duly receives the line breaking pass (well she misses it, but Barcelona mop up anyway):
        </p>
        <img src="https://images.gsheir.com/gifs/barcelona_7.gif" alt="Arsenal's high press, example 7" class="img">
        <p class="caption">View this clip on <a href="https://www.youtube.com/live/-iz4heeXcw0?si=cPVHRvd1PfnJmZ-G&t=4562" target="_blank">YouTube</a></p>
        <p>
            In this example, Arsenal has a 4-2 shape that looks pretty good, but Kelly subtly gets drawn more and more forwards, until she jumps the press and Barcelona work the ball into the space she vacates:
        </p>
        <img src="https://images.gsheir.com/gifs/barcelona_8.gif" alt="Arsenal's high press, example 8" class="img">
        <p class="caption">View this clip on <a href="https://www.youtube.com/live/-iz4heeXcw0?si=fvq2ZRe2P7INnL6Q&t=6563" target="_blank">YouTube</a></p>
        <p>
            The way Barcelona unlocks Arsenal’s press might be interesting for those watching in the WSL next season, and Arsenal would do well to improve how they move players between the defensive lines so the spaces aren’t as exploitable.
        </p>

        <h2>
            This is obviously not the full picture (but it’s enough to plan a session around)
        </h2>
        <p>
            Needless to say, the tactical battle evolved in other ways as the game went on, and those aspects probably deserve a separate post (e.g. Blackstenius running in behind as opposed to Russo holding it up). 
        </p>
        <p>
            Focusing on any one part of the game is an exercise in limited data, and I can’t say for certain whether the outcome of the game was decided by what I’ve covered above. Without knowing Arsenal’s game model (i.e. without being part of their staff), we won’t know whether the observations above are all part of a plan.
        </p>
        <p>
            However, if I was part of the Arsenal staff, the evidence above certainly offers enough material to work on a specific area of Arsenal’s press. 
        </p>

        <h2>
            Side notes and tidbits
        </h2>
        <p>
            There are so many that I wrote a sequel! I describe my data collection methodology and my (very beginner) workflow, and some behind the scenes thoughts:
        </p>
        <p>
            <a href="{% url 'game:blog_arsenal_press_part_2' %}">Part 2: My (very beginner) video analysis process for Arsenal’s high press</a>
        </p>
    </div>
</article>

{% endblock %}