{% extends 'base.html' %} 
{% block title %}Part 2: My (very beginner) video analysis process for Arsenal’s high press - gsheir.com{% endblock %} 
{% block content %}

{% load static %}

<article>
    <div>
        <h1>
            Part 2: My (very beginner) video analysis process for Arsenal’s high press
        </h1>

        <p class="text-muted">Posted on 7th August 2025</p>
        <p></p>
        <p>
            <em>
                This is a companion piece to <a href="{% url 'game:blog_arsenal_press_part_1' %}">Part 1: Breaking down Arsenal’s high press in the Champions League final</a>.
            </em>
        </p>

        <h2>
            Why Arsenal Women, and why video analysis?
        </h2>
        <p>
            Well, I support Arsenal, and I’ve been able to experience our season as a fan, both at the Emirates and in Lisbon for the Champions League final (what a day). However, I feel like every time I watch games, I end up making (sometimes flawed) tactical conclusions based on what I’ve seen, and as we know, the human brain is famously bad at recalling everything that it has seen over a period of time. Video and data analysis is a way of seeing a much better picture. 
        </p>
        <p>
            Happily, all WSL and UWCL games this year have full match replays on YouTube (superseding the FA Player and whatever streaming platform UEFA uses), and that is an excellent dataset for some actual analysis. 
        </p>
        <p>
            I’ve tried just looking at event data before and have always struggled to interpret it effectively without video, so I thought I’d try my hand at a video-led analysis workflow and see what happens. Maybe it will give me better football pub chat.
        </p>

        <h2>
            Breaking down a game with game situations (and figuring out what to focus on)
        </h2>
        <p>
            In my first season coaching hockey, I put together a framework that described 4 fundamental game situations, which I felt was a more intuitive and coachable way to break down the game than game phases (e.g. by <a href="https://www.englandhockey.co.uk/play/talent-system/the-complete-player-qualities/game-understanding" target="_blank">England Hockey</a> or <a href="https://learn.englandfootball.com/articles-and-resources/coaching/resources/2025/How-to-help-players-adapt-to-game-state-phases-and-moments" target="_blank">The FA</a>).
        </p>
        <p>
            These were
        </p>
        <ul>
            <li>Facing the press (the ball carrier is in front of the first line of defence, usually when building out from the back)</li>
            <li>First line broken (the ball carrier is behind the first line and is able to turn and play forwards)</li>
            <li>Attacking the last line (only one defensive line left between the ball and the goal)</li>
            <li>16 yard box (football) / Circle (hockey)</li>
        </ul>
        <p>
            The point of the framework was to give myself specific game situations that I could focus on and replicate during training, giving feedback to both sides, so that both teams could learn how to get a good outcome from that particular game situation. 
        </p>
        <p>
            Having played as a defender for many years, and recently transitioned into a screen / CDM role, I’m particularly interested in the first game situation, and exploring how teams press and break the press. That’s mainly why this piece focuses on that.
        </p>
        <p>
            As an aside, the <a href="https://youtu.be/g3EeacSBM_E?si=SpkYz1jxuFeMKZLW&t=157" target="_blank">“packing zones”</a> concept in the football analytics industry is a more advanced version of this framework. I’m particularly intrigued by <a href="https://www.youtube.com/watch?v=XLVSW__tiTc&t=3529s" target="_blank">der Eröffnungsball “the opening ball”</a>, a term coined for the first time a team tries to break a line, which is kind of what this piece is about. Seeing a framework I came up with being reflected in industry is pretty satisfying.
        </p>
        
        <h2>
            Defining “facing the press” through video so I could collate clips
        </h2>
        <p>
            I needed a clear definition of the game situation so I could get clips consistently, and this is what I ended up with:
        </p>
        <ul>
            <li>Arsenal were in possession</li>
            <li>The ball was in the opposition half. If it is consistently in Arsenal’s half, the game situation doesn’t feel like an offensive one anymore. I wanted to capture the moments where Arsenal used the high press to benefit offensively.</li>
            <li>The game situation was initiated by a pass made between opponents in front of the press</li>
            <li>The game situation ended when (most to least favourable)
                <ul>
                    <li>Fast break / chance created</li>
                    <li>Ball won in offensive half: by loose pass, interception or tackle</li>
                    <li>Ball won in own half, or dead ball to us</li>
                    <li>Retreated to own half, or dead ball to them</li>
                    <li>Line broken, or foul conceded</li>
                </ul>
            </li>
        </ul>

        <p>
            I tried to have a more holistic outcomes assessment, to reflect how I would see it as a coach - if Arsenal managed to get a touch on the ball but the opponent still ended up with possession, I wouldn’t count that as a turnover.
        </p>

        <h2>
            Getting clips, selecting clips and annotating clips
        </h2>
        <p>
            I then started watching games, on YouTube at 2x speed, recording clips and timestamps as I went. An extremely useful feature from YouTube was the ability to share a link with a timestamp, so I could easily jump back to a certain point in the video. Embedding the video player in my note-taking system of choice (Notion) was also handy. 
        </p>
        <p>
            Once the clips were ready, I looked through them again and searched for something to write about. Since I’m doing this for fun and not for a club, I get to decide what I want to focus on, but I definitely had to constrain my initial ambitions (my original plan was to write about how Arsenal pressed for the whole season, before realising it was too much to write about for one piece).
        </p>
        <h2>
            Annotating clips
        </h2>
        <p>
            To annotate clips with graphics (i.e. telestration, to use an industry term), I used <a href="https://www.metrica-sports.com/metrica-playbase">Metrica Playbase</a> - it’s got a decent free trial and cheap tier, and if I wanted to do video analysis more seriously, it’s got plenty of features to get me going. I was pretty impressed at how intuitive and easy it was to create decent graphics specific for football, compared to if I had used something more multi-purpose from Adobe Creative Cloud.
        </p>
        <p>
            Telestration for me should draw an audience’s attention to what the clip is trying to show, without explicitly describing the point I’m trying to get across. That explanation is always best presented as text (hence why there is always a textual description alongside each clip), and the graphics themselves tend to be very minimal. I used a lot of freeze frames in this piece, partly because it gives the viewer time to pause and take everything in, and partly because working with freeze frames is much quicker compared to doing complex motion tracking within a video. 
        </p>
        <h2>
            Was it enjoyable?
        </h2>
        <p>
            My workflow isn’t the most polished, but yeah it was pretty fun. Rewatching games gives you a bit of a different perspective compared to just enjoying it as a fan, and the process of distilling a 45 minute game into key talking points is not easy, but it is rewarding to be able to spot patterns. Maybe I will do this more, or start looking at different sports (hockey, anyone?). 
        </p>
    </div>
</article>

{% endblock %}