{% extends 'base.html' %} 
{% block title %}Reflecting on my first year coaching hockey - gsheir.com{% endblock %} 
{% block content %}

{% load static %}


<article>
    <div>
        <h1>
            Reflecting on my first year coaching hockey
        </h1>

        <p class="text-muted">Posted on 17th July 2025</p>
        <p></p>
        <p>
            First things first – this is not a tactical essay, i.e. I’m not writing to present or defend my game model, or describe how I think hockey ‘should be played’. This is also not a prescriptive piece, and I’m not describing what other coaches should do, because I’m pretty conscious I have a lot to learn as a player and as a coach so I’m in no place to tell people what to do.
        </p>
        <p>
            What I do think is interesting, and what this piece is about, is the things I’ve learnt and experienced coming into coaching for the first time, planning and delivering training sessions every week, watching games from the dugouts, and how it’s changed my own game.
        </p>
        <p>
            I’ve learnt so much and it’s impossible to list them all, but these are the things that surprised me the most, in my first year as a lead coach, working with our Women’s 6s and 7s team at Cambridge City Hockey Club.
        </p>
        <h2>
            I thought teaching was about explaining things well, but it’s actually about knowing how to give feedback well
        </h2>
        <p>
            I’d say I’m a pretty good communicator, and if I can explain something in an accessible way if I know it well. After all, a big part of my day job (in software engineering) is being able to describe complex technical concepts to people who aren’t as in the weeds as me. 
        </p>
        <p>
            For example, if I wanted to explain how the team should play out from the back via the left half back, I might describe how the transfer should go from the centre back to the half back, and they would play a quick ball down the line to a forward who has made a timely lead into that channel. I’ve even drawn diagrams to help describe patterns of play like this (I genuinely contemplated sending these out at one point during the season):
        </p>

        <div class="grid grid-2">
            <div class="img">
                <img src="https://images.gsheir.com/coaching/coaching_1.png" alt="Coaching 1" class="img">
            </div>
            <div class="img">
                <img src="https://images.gsheir.com/coaching/coaching_2.png" alt="Coaching 2" class="img">
            </div>
        </div>

        <p>
            What I realised was that’s wasn’t the same as teaching. Crucially, it wasn’t described from the perspective of the learner and where they were at that time. If I was the half back in this situation (and for a long time, I was that player), I’d be looking for a change that I can make right now so that my next attempt comes off right, not a high-level description that I then have to figure out how I can apply to my game.
        </p>
        <p>
            As a coach, I had to tailor the instructions to each player, describing their role and actions in the context of what they’re seeing. But more importantly, I also had to tailor the instructions to their ability in that moment, so that rather than describing an idealised version of the role, I was giving them tips that they could immediately use to improve. That made my words feedback, not just explanations. 
        </p>
        <h2>
            I underestimated how concise and specific everything needed to be
        </h2>
        <p>
            It was tempting to pack lots of information into a feedback conversation with a player, but when they’re on the pitch and there’s so much stimuli going on, me dumping 5 sentences’ worth of information on them often led to them not retaining anything. 
        </p>
        <p>
            I also realised that I hated listening to myself waffle, which happened when I didn’t know exactly what I wanted to say. It made me look unsure and untrustworthy, which isn’t exactly what I want from a coach. 
        </p>
        <p>
            I eventually landed on something that wasn’t far off the classic “situation-action-result” format, so that they knew what they had to do and why they had to do it. As an example, a comment I made to a half back positioning herself (in possession) looked like
        </p>
        
        <p>>
            <em>
                “You see how you’re deeper than their forward line, and that means that you’re still in front of their press when you get the ball? Try and be in line with their centre forward, so that when the ball comes to you, it takes them out of the game.”
            </em>
        </p>

        <p>
            It was hard, and it meant I had to do a lot of prep so I was super clear on what I wanted to say at all times. But the responsibility of a coach is to abstract away the huge volumes of tactical and technical information, so that the mental load is taken off the players and they have just the right information to perform. Forcing myself to be super concise and specific made that happen for my players. 
        </p>

        <h2>
            My best content was rooted in my own experience, rather than textbook theory
        </h2>

        <p>
            I thought that going through coaching courses and building out my game model would give me the right content to deliver, but I found that the most important thing was my personal experience. The vast majority of my content ended up being derived from things I’ve seen while playing and advice others have given me, because that’s where my knowledge is deepest. Besides, players often do notice if you’ve been there and done it.
        </p>

        <p>
            It does feel sometimes that there is a ceiling to what I can teach because I’m not quite an elite player, and occasionally that’s a bit frustrating. I’m working hard on my own playing and hopefully that helps, but I’ve also found it helpful to shadow coaches to pick up stuff that they do, and talk through things that we’ve seen, and build experience that way. 
        </p>

        <p>
            Seeking these new perspectives have been surprisingly insightful, whether that’s through standing by the forwards to see what they see, or putting on goalkeeper pads to get a session flowing. I definitely think I’ve got more of an appreciation for the experiences of players who play in different roles than I do, and that’s always a good thing. 
        </p>

        <h2>
            It was a big investment, but ultimately rewarding
        </h2>

        <p>
            There were definitely times in the first couple of months of the season when I felt like I had taken up a second job, and I had run out of free time, and I questioned whether any of it was worth it, particularly after sessions where I wasn’t sure if I had done enough to get my coaching themes across. 
        </p>

        <p>
            In those moments I had to remind myself that sessions aren’t independent, learning is cumulative over a season, and that players still appreciate the sessions where I felt like 60%, because that’s better than having no coach. I’m still figuring out ways to get accurate feedback on how my sessions went, but if the happy comments at the end of a season are anything to go by, it’s been worth it.
        </p>
        
        <p></p>
        <hr/>
        <h2>
            Side notes and tidbits
        </h2>
        <ul>
            <li>
                Shout out to all the teachers who do this for a living. I never really appreciated the skill needed to develop people until I took on coaching, and the teachers I encountered on my 
                <a href="https://hockeyhub.englandhockey.co.uk/events?search=Coach+Course">coaching courses</a> had so many good tips and tools that I’ve picked up (e.g. the feedback sandwich!). It’s crazy how you just don’t really learn about any of this in software, or in engineering, or indeed just the corporate world – maybe the world would be better if we did. 
            </li>
        </ul>
        <ul>

            <li>
                The thing I want to do more of is making my coaching more bi-directional. There’s such a big emphasis on delivery that we forget that players have opinions too, and I want to do more than just effective questioning in a huddle to get a point across. I experimented with individual goal setting (with moderate levels of engagement), and tried to get as much individual feedback time with players as possible during training and matches, but I’d love to have the opportunity to sit down and go through clips with each player and discuss their unique game. It might be something that only professionals do, and maybe not every player feels the need for such personalised feedback, but as a player I’d love that sort of opportunity to discuss my game, and maybe it’s a culture we should embed more to give everyone that opportunity. 
            </li>
            <p>
                Maybe that contradicts my last point about coaching being time-consuming, but just because we don’t have the same time as professional athletes, doesn’t mean we can’t embed the same behaviours.
            </p>
        </ul>
        <p></p>
    </div>
</article>

{% endblock %}
