{% extends 'base.html' %}

{% block title %}Hello - gsheir.com{% endblock %}

{% block content %}
<div class="body">
    <h1 class="huge-text">Hi, I’m Geoff.</h1>
    <p class="mb-3">This is where I build random stuff.</p>
</div>

<div class="grid grid-2">
    <div class="card">
        <h3>About Me</h3>
        <p class="mb-3">I'm a data scientist, engineer and sports performance analyst.</p>
        <a href="{% url 'app:about_me' %}" class="btn">Learn More</a>
    </div>
    <div class="card">
        <h3>Blog</h3>
        <p class="mb-3">Reflections on data, sports analytics and software engineering.</p>
        <a href="{% url 'app:blog_home' %}" class="btn">Read More</a>
    </div>

    


{% endblock %}
